	.spacer {
		height:10px;
	}
	#circle {
		width: 100px;
		height: 100px;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		border-radius: 50px;
		font-size:0;
		margin: 0 auto;
	}
	.blinkOn {
		background: red;
	}
	.blinkOff {
		background: grey;
	}
	#onOffButton {
		margin: 0 auto;
	}
	.blinkOnButton:after {
		content: "Stop";
	}
	.blinkOffButton:after {
		content: "Start";
	}
	
